.dropdown dd {
  display: none;
}

.logo {
  width: 256px;
}

.logo h1 {
  float: left;
}

.logo h1 a {
  height: 61px;
  width: 173px;
  background-image: url(../images/logo2.png);
  background-repeat: no-repeat;
  font-size: 0;
}

.ms {
  vertical-align: middle;
  float: left;
  height: 32px;
  margin-left: 13px;
  margin-top: 17px;
  border-left: 1px solid #b1191a;
}

.ms img {
  margin-left: 13px;
  padding-top: 3px;
}

.nav-items-right,
.nav-items-left {
  line-height: 47px;
}

.nav-items-left strong {
  font-weight: 700;
  font-size: 16px;
  color: #111;
}

.nav-items-left li {
  padding: 0 27.5px;
}

.nav-items-right li {
  padding: 0 22.5px;
}

.nav-items-right a {
  font-size: 14px;
}

.nav-items-right {
  padding-right: 42.5px;
}

.arrow-down::after {
  content: "\e91e";
  font-family: "icomoon";
  margin-left: 10px;
}

.ad::after {
  content: "\e91e";
  font-family: "icomoon";
  margin-left: 5px;
}

.product ul li {
  float: left;
  margin-right: 10px;
  width: 290px;
  height: 460px;
  border: 1px solid transparent;
  overflow: hidden;
}

.product li:nth-child(4n) {
  margin-right: 0;
}

.product ul li:hover {
  border: 1px solid black;
}
